.container {
  margin-top: 30px;
}

ul {
  text-align: center;
  color: purple;
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}

ul li:hover {
  text-decoration: underline;
}

ul li:focus {
  outline: none;
}

ul li.active {
  font-weight: bold;
}
