<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form class="form"
        (ngSubmit)="submit()"
        #signup="ngForm">
        <input class="form-control"
          type="email"
          name="email"
          ngModel
          #email="ngModel"
          required
          email />
        <span *ngIf="email.touched && email.invalid"
          class="help-block">Email is necessary!</span>
        <select class="form-control"
          name="sub"
          [ngModel]="subOptn"
          #sub="ngModel">
          <option *ngFor="let optn of options">{{ optn }}</option>
        </select>
        <span *ngIf="sub.touched && sub.invalid"
          class="help-block">Sub type is necessary!</span>
        <input class="form-control"
          type="password"
          name="password"
          ngModel
          #password="ngModel"
          required />
        <span *ngIf="password.touched && password.invalid"
          class="help-block">Password is necessary!</span>
        <button class="btn btn-primary"
          type="submit"
          [disabled]="signup.invalid">Submit</button>
      </form>
      <span *ngIf="password.touched && password.invalid"
        class="help-block">Invalid Form!</span>
    </div>
  </div>
</div>
